html {
  scroll-behavior: smooth;
}
.parallax {
  background-color: #87ceeb;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.sun {
  position: absolute;
  top: 10px;
  left: 30rem;
  right: 0;
  width: 10rem;
  height: 10rem;
  background-color: #87ceeb;
}
.island {
  position: absolute;
  top: 194px;
  left: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
  z-index: 0;
  background-color: #87ceeb;
}
.islandRight {
  position: absolute;
  top: 260px;
  left: 40rem;
  right: 0;
  width: 20rem;
  height: 20rem;
  z-index: 0;
}
.labelRight,
.labelLeft {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  pointer-events: none;
  z-index: 3;
}
.labelRight {
  top: 25rem;
  right: 35rem;
}

.labelLeft {
  top: 25rem;
  left: 35rem;
}
.clouds {
  position: absolute;
  top: 0px;
  left: 50rem;
  right: 50rem;
  bottom: 0;
  width: 30rem;
  height: 20rem;
}
.seagullLeft {
  position: absolute;
  top: 290px;
  left: 250px;
  right: 0px;
  width: 2rem;
  height: 2rem;
  z-index: 0;
}
.seagullRight {
  position: absolute;
  top: 290px;
  left: 10px;
  right: 0px;
  width: 2rem;
  height: 2rem;
  z-index: 0;
}
.sea {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 1;
}
.palmtreeRight {
  position: absolute;
  width: 50rem;
  height: 50rem;
  bottom: -100px;

  right: -5rem;
  z-index: 1;
}
.palmtreeLeft {
  position: absolute;
  width: 50rem;
  height: 50rem;
  bottom: -100px;

  left: -5rem;
  z-index: 1;
}
